{% extends 'base/base.html' %}{% block title %}CPU Usage Details{% endblock %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/refresher.css') }}">
{% endblock %}
{% block content %}
{% include 'components/refresh_button.html' %}
<h2 class="my-4">CPU
    Details
</h2>
<div class="container mt-4">
    <div class="row">{% include 'card_comp/cpu/core.html' %} {% include 'card_comp/cpu/frequency.html' %} {%
        include 'card_comp/cpu/usages.html' %} {% include 'card_comp/cpu/current_temp.html' %} {% include
        'card_comp/cpu/highest_temp.html' %} {% include 'card_comp/cpu/critical_temp.html' %} </div>
</div>

<div style="width: 80%; margin-top: 50px;">
    <h2 class="text-center">CPU Usage Over Time</h2>
    <canvas id="cpuTimeChart"></canvas>
</div>

<script>
    // Get CPU and time data from Jinja
    console.log("Time Data:", {{ time | tojson | safe }});
    const cpuData = {{ cpu | tojson }};
    const timeData = {{ time | tojson | safe }};

    // Create the chart
    const ctx = document.getElementById('cpuTimeChart').getContext('2d');
    const cpuTimeChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: timeData,  // Use formatted time for labels
            datasets: [{
                label: 'CPU Usage (%)',
                data: cpuData,
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                fill: true,
                tension: 0.4
            }]
        },
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Time'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'CPU Usage (%)'
                    }
                }
            }
        }
    });
</script>
{% include 'components/refresh_button_script.html' %}
{% endblock %}