{% extends 'base/base.html' %}{% block title %}CPU Usage Details{% endblock %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/refresher.css') }}">
{% endblock %}
{% block content %}
{% include 'card_comp/selector/refresh_button.html' %}
<h2 class="my-4">CPU
    Details
</h2>
<div class="container mt-4">
    <div class="row">{% include 'card_comp/cpu/core.html' %} {% include 'card_comp/cpu/frequency.html' %} {%
        include 'card_comp/cpu/usages.html' %} {% include 'card_comp/cpu/current_temp.html' %} {% include
        'card_comp/cpu/highest_temp.html' %} {% include 'card_comp/cpu/critical_temp.html' %} </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/update_refresh_interval.js')}}"></script>
{% endblock %}