{% extends 'base/base.html' %}{% block title %}Disk Usage Details{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/refresher.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/cardChart.js')}}"></script>
    
{% endblock %}
{% block content %}
{% include 'card_comp/selector/refresh_button.html' %}<h2 class="my-4">Disk
    Usage Details</h2>
<div class="row">
    <div class="col-md-6 col-lg-4 mb-4">{% include 'card_comp/disk/usage.html' %}</div>
    
    <div class="col-md-6 col-lg-4 mb-4">    {% include 'card_comp/disk/total.html' %}</div>

    <div class="col-md-6 col-lg-4 mb-4">{% include 'card_comp/disk/used.html' %}</div>
    
    <div class="col-md-6 col-lg-4 mb-4">{% include 'card_comp/disk/free.html' %}</div>
    
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/refreshCardData.js')}}"></script>
<!-- <script src="{{ url_for('static', filename='js/color_bar.js')}}"></script> -->
{% endblock %}