{% extends 'base.html' %}{% block title %}Memory Usage Details{% endblock %}{% block content %} <h2 class="my-4">Memory
    Usage Details</h2>
<div class="row">{% include 'dasbhboard_comp/memory/percentage.html' %} {% include
    'dasbhboard_comp/memory/available.html' %} {% include 'dasbhboard_comp/memory/used.html' %} {% include
    'dasbhboard_comp/memory/swap_total.html' %} {% include 'dasbhboard_comp/memory/swap_used.html' %} {% include
    'dasbhboard_comp/memory/swap_free.html' %} </div>{% endblock %}