{% extends 'base/base.html' %}
{% block title %}Control Panel{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
{% block content %}
<div class="settings-container">
    <h1 class="settings-title">
        {{title}} Control Panel
        <i class="fas fa-cogs"></i>
    </h1>

    <!-- Buttons for additional functionalities -->
    <div class="settings-buttons">
        <a href="{{ url_for('view_users') }}" class="btn btn-primary">
            <i class="fas fa-users"></i> All Users
        </a>
        <a href="{{ url_for('create_user') }}" class="btn btn-primary">
            <i class="fas fa-user-plus"></i> Create User
        </a>
    </div>  
    
    <div class="settings-buttons">
        <a href="{{ url_for('smtp_config') }}" class="btn btn-primary">
            <i class="fas fa-key"></i> SMTP Configuration
        </a>
        <a href="{{ url_for('general_settings') }}" class="btn btn-primary">
            <i class="fas fa-cogs"></i> General Settings
        </a>
    </div> 

    <div class="settings-buttons">
        <a href="{{ url_for('user_settings') }}" class="btn btn-primary">
            <i class="fa-solid fa-user-cog"></i> User Settings
        </a>
        <a href="{{ url_for('feature_toggles') }}" class="btn btn-primary">
            <i class="fas fa-toggle-on"></i> Page Toggles
        </a>
        <a href="{{ url_for('card_toggles') }}" class="btn btn-primary">
            <i class="fas fa-toggle-on"></i> Card Toggles
        </a>
    </div>

    <div class="settings-buttons">
        <a href="{{ url_for('monitor_websites') }}" class="btn btn-primary">
            <i class="fas fa-globe"></i> Ping Website
        </a>
        <a href="{{ url_for('firewall') }}" class="btn btn-primary">
            <i class="fas fa-shield-alt"></i> Firewall
        </a>
        <a href="{{ url_for('send_email_page') }}" class="btn btn-primary">
            <i class="fas fa-envelope"></i> Send Email
        </a>
    </div>

    <div class="settings-buttons">
        <a href="{{ url_for('terminal') }}" class="btn btn-primary">
            <i class="fas fa-terminal"></i> Terminal
        </a>
        <a href="{{ url_for('security_analysis') }}" class="btn btn-primary">
            <i class="fas fa-search"></i> Security Analysis
        </a>
        <a href="{{ url_for('show_os_info') }}" class="btn btn-primary">
            <i class="fas fa-info-circle"></i> OS Info
        </a>
    </div>


    <div class="settings-buttons">
        <a href="{{ url_for('about') }}" class="btn btn-primary">
            <i class="fas fa-info-circle"></i> About {{ title }}
        </a>
    </div>

</div>
{% endblock %}
