{% extends 'base/base.html' %}
{% block title %}{{ system_info['system_username'] }}@{{ system_info['nodename'] }} - SystemGuard{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/refresher.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/cardChart.js')}}"></script>
{% endblock %}
{% block content %}
{% include 'card_comp/selector/refresh_button.html' %}
<div class="row">
        <!-- Container for positioning the select input on the right -->
        <div class="col-md-6 col-lg-6 mb-4">
                {% include 'card_comp/other/username.html' %}
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
                {% include 'card_comp/other/os_info.html' %}
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
                {% include 'card_comp/cpu/core.html' %}
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
                {% include 'card_comp/other/server_time.html' %}
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
                {% include 'card_comp/battery/percentage.html' %}
        </div>

        <div class="col-md-6 col-lg-6 mb-4">
                {% include 'card_comp/cpu/usages.html' %}
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
                {% include 'card_comp/memory/usage.html' %}
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
                {% include 'card_comp/disk/usage.html' %}
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
                {% include 'card_comp/cpu/current_temp.html' %}
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
                {% include 'card_comp/cpu/frequency.html' %}
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
        {% include 'card_comp/other/uptime.html' %}
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
        {% include 'card_comp/network/stats.html' %}
        </div>
        <div class="col-md-6 col-lg-12 mb-4">
        {% include 'card_comp/other/speedtest.html' %}
        </div>
</div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/bootTime.js')}}"></script>
<script src="{{ url_for('static', filename='js/refreshCardData.js')}}"></script>

{% endblock %}