
{% extends 'base/base.html' %}
{% block title %}Server Dashboard{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/refresher.css') }}">
{% endblock %}
{% block content %}
{% include 'card_comp/selector/refresh_button.html' %}
<div class="row">    
        <!-- Container for positioning the select input on the right -->
        {% include 'card_comp/other/username.html' %}
        {% include 'card_comp/other/os_info.html' %}
        {% include 'card_comp/battery/percentage.html' %}
        {% include 'card_comp/cpu/core.html' %}
        {% include 'card_comp/cpu/current_temp.html' %}
        <!-- {% include 'card_comp/other/boot_time.html' %} -->
        {% include 'card_comp/cpu/frequency.html' %}
        {% include 'card_comp/cpu/usages.html' %}
        {% include 'card_comp/memory/usage.html' %}
        {% include 'card_comp/disk/usage.html' %}
        {% include 'card_comp/other/uptime.html' %}
        {% include 'card_comp/network/stats.html' %}
        {% include 'card_comp/other/speedtest.html' %} </div>  
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/boot_time.js')}}"></script>
<script src="{{ url_for('static', filename='js/refreshCardData.js')}}"></script>
{% endblock %}
