
{% extends 'base/base.html' %}
{% block title %}Server Dashboard{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/refresher.css') }}">
{% endblock %}
{% block content %}
{% include 'components/refresh_button.html' %}
<div class="row">    
        <!-- Container for positioning the select input on the right -->
        {% include 'card_comp/other/username.html' %}{% include
        'card_comp/other/boot_time.html' %}{% include 'card_comp/battery/percentage.html' %}{% include
        'card_comp/cpu/core.html' %}{% include 'card_comp/cpu/usages.html' %}{% include
        'card_comp/cpu/current_temp.html' %}{% include 'card_comp/memory/dashboard_memory.html' %}{% include
        'card_comp/memory/usage.html' %}{% include 'card_comp/disk/usage.html' %}{% include
        'card_comp/other/uptime.html' %}{% include 'card_comp/network/stats.html' %}{% include
        'card_comp/other/speedtest.html' %} </div>  
</div>

{% include 'components/refresh_button_script_2.html' %}
{% endblock %}
