{% extends 'base.html' %}
{% block title %}Card Toggles{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}
{% block content %}
<div class="settings-container">
    <h1 class="settings-title">Card Toggles</h1>

    <form method="POST">
        {% include 'ext/message.html' %}
        
        <div class="form-row">
            <div class="form-group">
                <label for="is_user_card_enabled">Enable User Card:</label>
                <input type="checkbox" id="is_user_card_enabled" name="is_user_card_enabled" {% if settings.is_user_card_enabled %}checked{% endif %}>
            </div>
    
            <div class="form-group">
                <label for="is_server_card_enabled">Enable Server Card:</label>
                <input type="checkbox" id="is_server_card_enabled" name="is_server_card_enabled" {% if settings.is_server_card_enabled %}checked{% endif %}>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <label for="is_battery_card_enabled">Enable Battery Card:</label>
                <input type="checkbox" id="is_battery_card_enabled" name="is_battery_card_enabled" {% if settings.is_battery_card_enabled %}checked{% endif %}>
            </div>
    
            <div class="form-group">
                <label for="is_cpu_core_card_enabled">Enable CPU Core Card:</label>
                <input type="checkbox" id="is_cpu_core_card_enabled" name="is_cpu_core_card_enabled" {% if settings.is_cpu_core_card_enabled %}checked{% endif %}>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <label for="is_cpu_usage_card_enabled">Enable CPU Usage Card:</label>
                <input type="checkbox" id="is_cpu_usage_card_enabled" name="is_cpu_usage_card_enabled" {% if settings.is_cpu_usage_card_enabled %}checked{% endif %}>
            </div>
    
            <div class="form-group">
                <label for="is_cpu_temp_card_enabled">Enable CPU Temp Card:</label>
                <input type="checkbox" id="is_cpu_temp_card_enabled" name="is_cpu_temp_card_enabled" {% if settings.is_cpu_temp_card_enabled %}checked{% endif %}>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <label for="is_dashboard_memory_card_enabled">Enable Dashboard Memory Card:</label>
                <input type="checkbox" id="is_dashboard_memory_card_enabled" name="is_dashboard_memory_card_enabled" {% if settings.is_dashboard_memory_card_enabled %}checked{% endif %}>
            </div>
    
            <div class="form-group">
                <label for="is_memory_usage_card_enabled">Enable Memory Usage Card:</label>
                <input type="checkbox" id="is_memory_usage_card_enabled" name="is_memory_usage_card_enabled" {% if settings.is_memory_usage_card_enabled %}checked{% endif %}>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <label for="is_disk_usage_card_enabled">Enable Disk Usage Card:</label>
                <input type="checkbox" id="is_disk_usage_card_enabled" name="is_disk_usage_card_enabled" {% if settings.is_disk_usage_card_enabled %}checked{% endif %}>
            </div>
    
            <div class="form-group">
                <label for="is_system_uptime_card_enabled">Enable System Uptime Card:</label>
                <input type="checkbox" id="is_system_uptime_card_enabled" name="is_system_uptime_card_enabled" {% if settings.is_system_uptime_card_enabled %}checked{% endif %}>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <label for="is_network_statistic_card_enabled">Enable Network Statistic Card:</label>
                <input type="checkbox" id="is_network_statistic_card_enabled" name="is_network_statistic_card_enabled" {% if settings.is_network_statistic_card_enabled %}checked{% endif %}>
            </div>
    
            <div class="form-group">
                <label for="is_network_usage_card_enabled">Enable Network Usage Card:</label>
                <input type="checkbox" id="is_network_usage_card_enabled" name="is_network_usage_card_enabled" {% if settings.is_network_usage_card_enabled %}checked{% endif %}>
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary">Save Settings</button>
    </form>
</div>
{% endblock %}
