{% extends 'base.html' %}

{% block title %}CPU Usage Details{% endblock %}

{% block content %}
<h2 class="my-4">CPU Details</h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-cpu">
                <div class="card-body">
                    <h5 class="card-title">CPU Cores <i class="fas fa-microchip"></i></h5>
                    <p class="card-text fs-4">{{ cpu_data['cpu_core'] }}</p>
                    <div class="cpu-core-visualization">
                        {% for i in range(cpu_data['cpu_core']) %}
                        <div class="cpu-core-bar"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card cpu-card bg-cpu" data-cpu-usage="{{ cpu_data['cpu_usage_percent'] }}%">
                <div class="card-body">
                    <h5 class="card-title">CPU Usage <i class="fas fa-microchip"></i></h5>
                    <p class="card-text fs-4">{{ cpu_data['cpu_usage_percent'] }}%</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card cpu-card bg-cpu" data-cpu-frequency="{{ cpu_data['cpu_frequency'] }}">
                <div class="card-body">
                    <h5 class="card-title">CPU Frequency <i class="fas fa-microchip"></i></h5>
                    <p class="card-text fs-4">{{ cpu_data['cpu_frequency'] }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card cpu-card bg-cpu" data-cpu-frequency="{{ cpu_data['cpu_frequency'] }}">
                <div class="card-body">
                    <h5 class="card-title">CPU Current Temperature <i class="fas fa-microchip"></i></h5>
                    <p class="card-text fs-4">{{ cpu_data['current_temp'] }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card cpu-card bg-cpu" data-cpu-frequency="{{ cpu_data['cpu_frequency'] }}">
                <div class="card-body">
                    <h5 class="card-title"> CPU High Temperature <i class="fas fa-microchip"></i></h5>
                    <p class="card-text fs-4">{{ cpu_data['high_temp'] }}</p>
                </div>
            </div>  
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card cpu-card bg-cpu" data-cpu-frequency="{{ cpu_data['cpu_frequency'] }}">
                <div class="card-body">
                    <h5 class="card-title"> CPU Critical Temperature <i class="fas fa-microchip"></i></h5>
                    <p class="card-text fs-4">{{ cpu_data['critical_temp'] }}</p>
                </div>
            </div>
        </div>
        
    </div>
</div>



{% endblock %}