{% extends 'base.html' %}

{% block title %}Server Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- General Information Cards -->
        {% include 'dasbhboard_comp/username.html' %}
        {% include 'dasbhboard_comp/boot_time.html' %}
        {% include 'dasbhboard_comp/dashboard_memory_usage.html' %}
        {% include 'dasbhboard_comp/cpu_core.html' %}
        {% include 'dasbhboard_comp/cpu_usages.html' %}
        {% include 'dasbhboard_comp/cpu_temp.html' %}
        {% include 'dasbhboard_comp/battery_percentage.html' %}
        {% include 'dasbhboard_comp/memory_usage.html' %}
        
        {% include 'dasbhboard_comp/disk_usage.html' %}
        {% include 'dasbhboard_comp/uptime.html' %}
        {% include 'dasbhboard_comp/network_stats.html' %}
        {% include 'dasbhboard_comp/speedtest.html' %}
        
    </div>
</div>
{% endblock %}
