{% extends 'base/base.html' %}
{% block title %}Dashboard Network{% endblock %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/graphs.css') }}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'card_comp/selector/refresh_button.html' %}
<div class="container">
    <h2><i class="fas fa-microchip"></i> CPU Usage Over Time</h2>
    <canvas id="cpuTimeChart"></canvas>
</div>

<div class="container">
    <h2><i class="fas fa-memory"></i> Memory Usage Over Time</h2>
    <canvas id="memoryTimeChart"></canvas>
</div>

<div class="container">
    <h2><i class="fas fa-battery-half"></i> Battery Percentage Over Time</h2>
    <canvas id="batteryTimeChart"></canvas>
</div>

<div class="container">
    <h2><i class="fas fa-network-wired"></i> Network Sent & Received Over Time</h2>
    <canvas id="networkTimeChart"></canvas>
</div>

<div class="container">
    <h2><i class="fas fa-memory"></i> Dashboard Memory Usage Over Time</h2>
    <canvas id="dashboardMemoryTimeChart"></canvas>
</div>

<div class="container">
    <h2><i class="fas fa-microchip"></i> CPU Frequency Over Time</h2>
    <canvas id="cpuFrequencyTimeChart"></canvas>
</div>

<div class="container">
    <h2><i class="fas fa-thermometer-half"></i> Current Temperature Over Time</h2>
    <canvas id="currentTempTimeChart"></canvas>
</div>

<div class="container">
    <button id="refresh"><i class="fas fa-sync-alt"></i> Refresh Data</button>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/graphs.js')}}"></script>
{% endblock %}