{% extends 'base.html' %}

{% block title %}Memory Usage Details{% endblock %}

{% block content %}
    <h2 class="my-4">Memory Usage Details</h2>
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-memory shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Memory Usage <i class="fas fa-memory"></i></h5>
                    <p class="card-text fs-4">{{ memory_info['memory_percent'] }}%</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-memory shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Memory Available <i class="fas fa-memory"></i></h5>
                    <p class="card-text fs-4">{{ memory_info['memory_available'] }} GB</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-memory shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Memory Used <i class="fas fa-memory"></i></h5>
                    <p class="card-text fs-4">{{ memory_info['memory_used'] }} GB</p>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
