{% extends 'base.html' %}
{% block title %}Update Email & Password{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/update_email_password.css') }}">
{% endblock %}
{% block content %}
<div class="update-container">
    <h2>Update Email & Password for sending alerts</h2>
    <form method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ email_password.email }}" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
