<!-- templates/users/change_password.html -->
{% extends "base/base.html" %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
{% endblock %}
{% block content %}
<h2>Change Password</h2>

<form method="POST">
    <div class="form-group">
        <label for="old_password"><i class="fas fa-key"></i>
            Old Password</label>
        <input type="password" class="form-control" id="old_password" name="old_password" required>
    </div>

    <div class="form-group">
        <label for="new_password"><i class="fas fa-key"></i>
            New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" required>
    </div>

    <div class="form-group">
        <label for="confirm_password"><i class="fas fa-key"></i>
            Confirm New Password</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
    </div>

    <button type="submit" class="btn btn-success"><i class="fas fa-key"></i>
        Change Password</button>
</form>
{% endblock %}
