{% extends 'base/base.html' %}
{% block title %}Firewall Management{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/firewall.css') }}">
{% endblock %}
{% block content %}
<div class="mt-5">
    <h1 class="text-center"><span class="text-danger"><i class="fas fa-shield-alt"></i>
        {{title}} </span>Firewall Manager</h1>
    {% include 'ext/message.html' %}
    <!-- Form to enable/disable port -->
    <form method="POST" class="manage-port-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="port">Port:</label>
        <input type="text" id="port" name="port" required>

        <label for="protocol">Protocol:</label>
        <select id="protocol" name="protocol" required>
            <option value="tcp" {% if session.get('protocol')=='tcp' %}selected{% endif %}>TCP</option>
            <option value="udp" {% if session.get('protocol')=='udp' %}selected{% endif %}>UDP</option>
        </select>

        <label for="action">Action:</label>
        <select id="action" name="action" required>
            <option value="Enable" {% if session.get('action')=='Enable' %}selected{% endif %}>Enable</option>
            <option value="Disable" {% if session.get('action')=='Disable' %}selected{% endif %}>Disable</option>
        </select>

        {% if not session.get('sudo_password') %}
        <label for="sudo_password">Sudo Password:</label>
        <input type="password" id="sudo_password" name="sudo_password" required>
        {% endif %}

        <button type="submit">Submit</button>
    </form>


    <!-- Form to enter sudo password to get open ports -->
    {% if not session.get('sudo_password') %}
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="sudo_password">Enter Sudo Password to see open ports:</label>
        <input type="password" id="sudo_password" name="sudo_password" required>

        <button type="submit">Authenticate</button>
    </form>
    {% endif %}

    <!-- Form to clear session data -->
    {% if session.get('sudo_password') %}
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" name="clear_session">Clear Session</button>
    </form>
    <!-- Open ports table -->
    <h2>Open Ports:</h2>
    <table>
        <thead>
            <tr>
                <th>Protocol</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for protocol, details in open_ports %}
            <tr>
                <td>{{ protocol }}</td>
                <td>{{ details }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}