{% extends 'base/base.html' %}
{% block title %}Dashboard Network{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/graphs.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<h2 class="page-title"><i class="fas fa-chart-line"></i>
    <span class="text-danger m-2"> {{ title }} </span> Metrics (Experimental)
</h2>
<hr>

<!-- Server Time Section -->
<div class="">
    <div class="section-header d-flex justify-content-between align-items-center">
        <h2><i class="fas fa-clock"></i> Current Server Time & Time Zone</h2>
        <button id="refreshData" class="btn btn-primary"><i class="fas fa-sync-alt"></i> Refresh Graphs</button>
        <a href="{{ url_for('graphs') }}" class="btn btn-primary">Exit Experimental Graphs</a>
    </div>
    <p id="currentTime">Current Time: </p>
    <p id="timeZoneName">Time Zone: </p>
</div>
<hr>

<!-- Time Filter Section -->
<div class="col">
    <div class="row selector-container">
        <div class="time-filter-container">
            <label for="timeFilter">Select Time Filter:</label>
            <select id="timeFilter">
                <option value="5 minutes">Last 5 Minutes</option>
                <option value="15 minutes">Last 15 Minutes</option>
                <option value="30 minutes">Last 30 Minutes</option>
                <option value="1 hour">Last 1 Hour</option>
                <option value="3 hours">Last 3 Hours</option>
                <option value="6 hours">Last 6 Hours</option>
                <option value="12 hours">Last 12 Hours</option>
                <option value="1 day">Last 1 Day</option>
                <option value="2 days">Last 2 Days</option>
                <option value="3 days">Last 3 Days</option>
                <option value="1 week">Last 1 Week</option>
                <option value="1 month">Last 1 Month</option>
                <option value="3 months">Last 3 Months</option>
                <option value="all">All Time</option>
            </select>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="cpu-usage col-md-6">
        <div class="section-header d-flex justify-content-between align-items-center">
            <h2><i class="fas fa-microchip"></i> CPU Usage </h2>
        </div>
        <canvas id="cpuTimeChart"></canvas>
    </div>

    <div class="memory-usage col-md-6">
        <div class="section-header d-flex justify-content-between align-items-center">
            <h2><i class="fas fa-memory"></i> Memory Usage </h2>
        </div>
        <canvas id="memoryTimeChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="cpu-temperature col-md-6">
        <div class="section-header d-flex justify-content-between align-items-center">
            <h2><i class="fas fa-thermometer-half"></i> Current Temperature</h2>
        </div>
        <canvas id="currentTempTimeChart"></canvas>
    </div>

    <div class="cpu-frequency col-md-6">
        <div class="section-header d-flex justify-content-between align-items-center">
            <h2><i class="fas fa-microchip"></i> CPU Frequency</h2>
        </div>
        <canvas id="cpuFrequencyTimeChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="battery-usage col-md-6">
        <div class="section-header d-flex justify-content-between align-items-center">
            <h2><i class="fas fa-battery-half"></i> Battery Percentage</h2>
        </div>
        <canvas id="batteryTimeChart"></canvas>
    </div>

    <div class="network-usage col-md-6">
        <div class="section-header d-flex justify-content-between align-items-center">
            <h2><i class="fas fa-network-wired"></i> Network Sent & Received</h2>
        </div>
        <canvas id="networkTimeChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="dashboard-memory-usage col-md-6">
        <div class="section-header d-flex justify-content-between align-items-center">
            <h2><i class="fas fa-memory"></i>Memory Usage(APP)</h2>
        </div>
        <canvas id="dashboardMemoryTimeChart"></canvas>
    </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/graphs_experimental.js')}}"></script>
<script src="{{ url_for('static', filename='js/boot_time.js')}}"></script>
{% endblock %}