{% if card_settings.is_cpu_core_card_enabled %}
<div class="col-md-6 col-lg-4 mb-4">
    <div class="card bg-cpu">
        <div class="card-body">
            <h5 class="card-title">CPU Cores <i class="fas fa-microchip"></i></h5>
            <p class="card-text fs-4">{{ system_info['cpu_core']}} Cores</p>
            <div class="cpu-core-visualization">{% for i in range(system_info['cpu_core']) %} 
                <div class="cpu-core-bar">
                </div>{% endfor %} </div>
        </div>
    </div>
</div>
{% endif %}