<footer class="text-center mt-4">
    <p><i class="fas fa-shield-alt"></i>{{title}} Powered by
        <a href="https://www.python.org/" target="_blank"><i class="fab fa-python"></i> Python</a>,
        <a href="https://flask.palletsprojects.com/" target="_blank"><i class="fab fa-flask"></i> Flask</a>,
        <a href="https://getbootstrap.com/" target="_blank"><i class="fab fa-bootstrap"></i> Bootstrap</a>, and
        <a href="https://fontawesome.com/" target="_blank"><i class="fab fa-font-awesome"></i> FontAwesome</a>.
    </p>
    <!-- <div class="social-icons">
        <a href="https://github.com/codeperfectplus/SystemDashboard" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/deepak-raj-35887386/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div> -->
</footer>