<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm"><a
        class="navbar-brand d-flex align-items-center{% if request.endpoint=='dashboard' %}active{% endif %}"
        href="{{ url_for('dashboard')}}"><i class="fas fa-home mr-2"></i>Home </a><button class="navbar-toggler"
        type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link{% if request.endpoint=='cpu_usage' %}active{% endif %}"
                    href="{{ url_for('cpu_usage')}}"><i class="fas fa-microchip mr-1"></i>CPU Info </a></li>
            <li class="nav-item"><a class="nav-link{% if request.endpoint=='memory_usage' %}active{% endif %}"
                    href="{{ url_for('memory_usage')}}"><i class="fas fa-memory mr-1"></i>Memory Info </a></li>
            <li class="nav-item"><a class="nav-link{% if request.endpoint=='disk_usage' %}active{% endif %}"
                    href="{{ url_for('disk_usage')}}"><i class="fas fa-hdd mr-1"></i>Disk Info </a></li>
            <li class="nav-item"><a class="nav-link{% if request.endpoint=='network_stats' %}active{% endif %}"
                    href="{{ url_for('network_stats')}}"><i class="fas fa-network-wired mr-1"></i>Network Info </a></li>
            <li class="nav-item"><a class="nav-link{% if request.endpoint=='settings' %}active{% endif %}"
                    href="{{ url_for('settings')}}"><i class="fas fa-cog mr-1"></i>Settings </a></li>
            <li class="nav-item"><a class="nav-link{% if request.endpoint=='process' %}active{% endif %}"
                    href="{{ url_for('process')}}"><i class="fas fa-tasks mr-1"></i>Process </a></li>
        </ul>
    </div>
</nav>