<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <a class="navbar-brand d-flex align-items-center {% if request.endpoint == 'dashboard' %}active{% endif %}" 
       href="{{ url_for('dashboard') }}">SystemGuard
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% if page_toggles_settings.is_dashboard_network_enabled %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'dashboard' %}active{% endif %}" 
                   href="{{ url_for('dashboard_network') }}">
                   <i class="fa-solid fa-network-wired"></i></i> Dashboard Network
                </a>
            </li>
            {% endif %}
            {% if page_toggles_settings.is_cpu_info_enabled %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'cpu_usage' %}active{% endif %}" 
                   href="{{ url_for('cpu_usage') }}">
                    <i class="fas fa-microchip mr-1"></i>CPU Info
                </a>
            </li>
            {% endif %}
            {% if page_toggles_settings.is_memory_info_enabled %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'memory_usage' %}active{% endif %}" 
                   href="{{ url_for('memory_usage') }}">
                    <i class="fas fa-memory mr-1"></i>Memory Info
                </a>
            </li>
            {% endif %}
            {% if page_toggles_settings.is_disk_info_enabled %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'disk_usage' %}active{% endif %}" 
                   href="{{ url_for('disk_usage') }}">
                    <i class="fas fa-hdd mr-1"></i>Disk Info
                </a>
            </li>
            {% endif %}
            {% if page_toggles_settings.is_network_info_enabled %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'network_stats' %}active{% endif %}" 
                   href="{{ url_for('network_stats') }}">
                    <i class="fas fa-network-wired mr-1"></i>Network Info
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'graphs' %}active{% endif %}" 
                   href="{{ url_for('graphs') }}">
                    <i class="fas fa-chart-line mr-1"></i>Graphs
                </a>
            </li>
            {% if page_toggles_settings.is_process_info_enabled and current_user.user_level == 'admin' %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'process' %}active{% endif %}" 
                   href="{{ url_for('process') }}">
                    <i class="fas fa-tasks mr-1"></i>Process
                </a>
            </li>
            {% endif %}
            {% if current_user.user_level == 'admin' %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'settings' %}active{% endif %}" 
                   href="{{ url_for('settings') }}">
                    <i class="fas fa-cog mr-1"></i>Settings
                </a>
            </li>
            {% endif %}
        </ul>
        <!-- Authentication Links on the Right Side -->
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">
                    <i class="fas fa-sign-out-alt mr-1"></i>Logout
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('view_profile') }}">
                    <i class="fas fa-user-alt mr-1"></i>{{current_user.username}}
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'login' %}active{% endif %}" 
                   href="{{ url_for('login') }}">
                    <i class="fas fa-sign-in-alt mr-1"></i>Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'signup' %}active{% endif %}" 
                   href="{{ url_for('signup') }}">
                    <i class="fas fa-user-plus mr-1"></i>Signup
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
