footer {
    background-color: #343a40;
    color: #adb5bd;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    position: fixed;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #ced4da;
    text-decoration: underline;
}
