/* Primary Colors */
:root {
    /* Base Colors */
    --color-primary: #7ea0c4;
    --color-secondary: #6c757d;
    --color-success: #57d474;
    --color-danger: #dd6c77;
    --color-warning: #d7b25c;
    --color-info: #17a2b8;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-white: #ffffff;
    --color-black: #000000;

    /* Card Specific Colors */
    --color-username: var(--color-success);
    --color-boot: var(--color-success);
    --color-cpu: #ac0fea;
    --color-cpu-usage: #ca11eb;
    --color-memory: var(--color-success);
    --color-disk: var(--color-success);
    --color-uptime: #f44336;
    --color-network: #f44336;
    --color-speedtest: #08a2a8;
    --color-battery: #007bff;
    --color-connection: #f44336;
    --color-bg-dashboard-memory: var(--color-success);

    /* Shadow Colors */
    --color-shadow: rgba(0, 0, 0, 0.1);

    /* Battery Colors */
    --color-battery-100: linear-gradient(135deg, #76c7c0, #4caf50);
    --color-battery-75: linear-gradient(135deg, #76c7c0, #ffeb3b);
    --color-battery-50: linear-gradient(135deg, #38322a, #3a3732);
    --color-battery-25: linear-gradient(135deg, #58382f, #483b3a);
    --color-battery-0: linear-gradient(135deg, #f44336, #d32f2f);
}

/* General Styles */
body {
    font-family: 'Cabin', sans-serif;
    color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.navbar {
    background-color: var(--color-white);
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: #495057;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover, .nav-link.active {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
}

.nav-link i {
    font-size: 1.2rem;
}

.navbar-toggler {
    background: linear-gradient(135deg, #e0f7fa, #b2ebf2); /* Light blue gradient background */
    border: none; /* Optional: Remove the default border */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22rgba(255, 255, 255, 1.0)%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-miterlimit%3D%2210%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E');
    /* Change the stroke color inside the URL to customize the icon color */
}


/* Responsive adjustments */
@media (max-width: 992px) {
    .navbar-nav {
        margin-top: 0.5rem;
    }
}

@media (max-width: 767.98px) {
    .navbar-nav .nav-link {
        padding: 0.5rem;
    }
}

/* Button Styles */
.btn-primary {
    margin-top: 1rem;
}

/* Icon Sizes */
.fas {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/* General Card Styles */
.card {
    min-height: 230px;
    /* background: linear-gradient(135deg, #f5f7fa, #c3cfe2); */
    background: linear-gradient(135deg, #e0f7fa, #b2ebf2); /* Light blue gradient background */
    box-sizing: border-box;
    border: 1px solid #cdddeb;  
    border-radius: 15px;
    box-shadow: 0 12px 24px var(--color-shadow);
    color: var(--color-dark);
    transition: transform 0.4s, box-shadow 0.4s;
}

.os-info-card, .user-card {
    min-height: 120px;
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), /* Smooth in and out transitions */
                box-shadow 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}
.os-info-card:hover, .user-card:hover {
    transform: translateY(-15px) rotate(3deg) scale(1.1); /* Slightly larger scaling and movement */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); /* Stronger shadow for more depth */
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), /* Add a custom ease for smoother effect */
                box-shadow 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}


/* Card Hover Effect */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid var(--color-primary);
    }

/* Card Body Styles */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Card Title and Text Styles */
.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-dark);
    margin-bottom: 0.5rem;
}

.card-text {
    font-family: 'Roboto', sans-serif; /* Modern font for better readability */
    font-size: 1.25rem;
    color: var(--color-secondary);
    margin-bottom: 0.75rem;
}

.text-muted {
    color: #6c757d; /* Subtle grey for less important text */
}

.shadow-sm {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.fw-bold {
    font-weight: 700; /* Bold username for emphasis */
}

/* Specific Card Elements */
.temp-value, .usage-value, .memory-usage-percentage, .frequency-value, .high-temp-value {
    font-size: 2.5rem;
    font-weight: bold;
}

.temp-indicator, .usage-indicator, .memory-usage-bar, .frequency-indicator, .battery-indicator {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.temp-bar, .disk-bar, .frequency-bar, .cpu-usage-bar, .memory-usage-bar, .battery-bar {
    height: 20px;
    transition: width 0.3s ease;
}


.cpu-core-card {
    height: 190px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 20px;
    color: #333;
}

.cpu-core-bar {
    width: 20px; /* Increased width for better visibility */
    height: 40px; /* Increased height for better visibility */
    background-color: var(--color-primary);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cpu-core-bar:hover {
    background-color: var(--color-primary-dark);
    transform: translateY(-5px);
}

.cpu-core-visualization {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px; /* Spacing between bars */
}

.cpu-core-bar:nth-child(even) {
    background-color: #d7b25c;
}


/* Card Content Alignment */
.site-home {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    padding-left: 10px;
}

.title-container {
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.version {
    font-size: 0.6em;
    color: #666;
}

.version-icon {
    font-size: 0.3em;
    margin-right: -0.1em;
}

.version-icon.fas {
    font-size: 1.5em;
}

/* batter bar */


/* Battery color indicators based on percentage */
.battery-bar.low {
    background-color: #dd6c77; /* Red for low battery */
}
.battery-bar.medium {
    background-color: #d7b25c; /* Yellow for medium battery */
}
.battery-bar.high {
    background-color: #57d474; /* Green for high battery */
}

/* Temperature color indicators based on value */
.temp-bar.low {
    background-color: #57d474; /* Green for low temperature */
}
.temp-bar.medium {
    background-color: #d7b25c; /* Yellow for medium temperature */
}
.temp-bar.high {
    background-color: #dd6c77; /* Red for high temperature */
}

/* disk usage bar | disk-bar*/

.disk-bar.low {
    background-color: #57d474; /* Green for low disk usage */
}
.disk-bar.medium {
    background-color: #d7b25c; /* Yellow for medium disk usage */
}
.disk-bar.high {
    background-color: #dd6c77; /* Red for high disk usage */
}

/* cpu-usage-bar */

.cpu-usage-bar.low {
    background-color: #57d474; /* Green for low cpu usage */
}
.cpu-usage-bar.medium {
    background-color: #d7b25c; /* Yellow for medium cpu usage */
}
.cpu-usage-bar.high {
    background-color: #dd6c77; /* Red for high cpu usage */
}

/* memory-usage-bar */

.memory-usage-bar.low {
    background-color: #57d474; /* Green for low memory usage */    
}
.memory-usage-bar.medium {
    background-color: #d7b25c; /* Yellow for medium memory usage */
}
.memory-usage-bar.high {
    background-color: #dd6c77; /* Red for high memory usage */   
}


/* .frequency-bar */

.frequency-bar.low {
    background: linear-gradient(90deg, #57d474, #41d865); /* Green for low temperature */
}
.frequency-bar.medium {
    background-color: #d7b25c; /* Yellow for medium frequency */
}
.frequency-bar.high {
    background-color: #dd6c77; /* Red for high frequency */
}

/* speedtest result */

.bg-speedtest {
    background-color: #f1f4f9; /* Light background to match other cards */
    border-radius: 12px;
}

.bg-speedtest .card-title {
    font-size: 1.5rem;
    color: #333;
}

.bg-speedtest .fw-bold {
    color: #72a0d1; /* Highlighted labels */
}

.bg-speedtest .btn-primary {
    background-color: #72a0d1;
    border-color: #72a0d1;
    padding: 10px 20px;
}

.bg-speedtest .card-text {
    color: #495057;
}


.card {
    position: relative; /* Ensure that the text can be positioned at the bottom */
    padding-bottom: 40px; /* Reserve space for the text */
}

.data-provider-text {
    font-family: 'Roboto', sans-serif; /* Modern and clean font */
    font-size: 0.85rem;
    position: absolute;
    bottom: 0;
    right: 10px;
    left: 10px;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: right;
    color: #155dc9;
    padding: 5px 10px;
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Lighter border */
    border-radius: 0 0 10px 10px; /* Rounded bottom corners */
}


/* tooltip change */
.tooltip {
    background-color: #222; /* Darker background for better visibility */
    color: #fff; /* White text for contrast */
    border-radius: 8px; /* Rounded corners */
    padding: 8px 12px; /* Better padding for readability */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    font-size: 14px;
    text-align: center; 
}

.tooltip-arrow {
    border-top-color: #222 !important; /* Match tooltip background */
}

.tooltip.show {
    opacity: 1;
    transition: opacity 0.2s ease-in-out; /* Smooth transition */
}

.tooltip-inner {
    background-color: #222;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
}

.card:hover .tooltip-inner {
    background-color: #343a40; /* Slight change when hovering over card */
}