/* Primary Colors */
:root {
    --color-primary: #7ea0c4; /* Bright blue for primary elements */
    --color-secondary: #6c757d; /* Gray for secondary elements */
    --color-success: #28a745; /* Green for success */
    --color-danger: #dc3545; /* Red for danger */
    --color-warning: #ffc107; /* Yellow for warning */
    --color-info: #17a2b8; /* Cyan for info */
    --color-light: #f8f9fa; /* Light gray for backgrounds */
    --color-dark: #343a40; /* Dark gray for text */
    --color-white: #ffffff; /* White for text */
    --color-black: #000000; /* Black for text */
    
    /* card colors */
    --color-username: #28a745; /* Bright blue for username */
    --color-boot: #28a745; /* Green for boot time */
    --color-cpu: #ac0fea; /* Red for CPU */
    --color-cpu-usage: #ca11eb; /* Yellow for CPU usage */
    --color-memory: #28a745; /* Purple for memory */
    --color-disk: #28a745; /* Gray for disk */
    --color-uptime: #f44336; /* Cyan for uptime */
    --color-network: #f44336; /* Bright blue for network */
    --color-speedtest: #08a2a8; /* Bright blue for speedtest */
    --color-battery: #007bff; /* Bright blue for battery */
    --color-connection: #f44336; /* Red for connection */
    --color-bg-dashboard-memory: #28a745; /* Green for memory card */

    /* shadow colors */
    --color-shadow: #f80000; /* Red shadow for username */
    
    /* Battery colors */
    --color-battery-100: linear-gradient(135deg, #76c7c0, #4caf50); /* Green gradient for 100% battery */
    --color-battery-75: linear-gradient(135deg, #76c7c0, #ffeb3b); /* Yellow gradient for 75% battery */
    --color-battery-50: linear-gradient(135deg, #38322a, #3a3732); /* Orange gradient for 50% battery */
    --color-battery-25: linear-gradient(135deg, #58382f, #483b3a); /* Red gradient for 25% battery */
    --color-battery-0: linear-gradient(135deg, #f44336, #d32f2f); /* Dark red gradient for 0% battery */
}

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-size: cover; /* Ensure the image covers the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center; /* Center the image */
}



.card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.header {
    background-color: #343a40;
    color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
}

Navbar Styles
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: #495057;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover, .nav-link.active {
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
}

.nav-link i {
    font-size: 1.2rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,...'); /* Include your own icon URL or SVG here */
}

/* Add margin-right to space out authentication links */
.navbar-nav.ml-auto .nav-item {
    margin-left: 1rem;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .navbar-nav {
        margin-top: 0.5rem;
    }
}
/* end of navbar styles */

.btn-primary {
    margin-top: 1rem; /* Adds space above buttons */
}

.fas {
    font-size: 1.5rem; /* Adjusts icon size */
    margin-right: 0.5rem; /* Adds space between icon and text */
}

/* Responsive Styles */
@media (max-width: 767.98px) {
    .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

/* General Card Styles */
.card {
    min-height: 150px; /* Ensures consistent card height */
    background-size: cover; /* Ensure the image covers the entire card */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center; /* Center the image */
    color: #fff; /* Adjust text color for better contrast */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
    position: relative; /* Allows positioning for the pseudo-element */
}

/* Specific Background Colors */
.card.bg-basic {
    background-color: var(--color-primary); /* Bright blue for basic info */
}

.card.bg-username {
    background-color: var(--color-username); /* Bright blue for username */
}

.card.bg-ipv4 {
    background-color: var(--color-ip); /* Bright blue for IP address */
}

.card.bg-cpu {
    background-color: var(--color-cpu); /* Red for CPU */
}

.card.bg-boot {
    background-color: var(--color-boot); /* Green for boot time */
}

.card.bg-connection {
    background-color: var(--color-connection); /* Red for connection */
}

.card.bg-dashboard-memory {
    background-color: var(--color-bg-dashboard-memory); /* Green for memory card */
}

.card.bg-cpu-usage {
    background-color: var(--color-cpu-usage); /* Yellow for CPU usage */
}

.card.bg-memory {
    background-color: var(--color-memory); /* Purple for memory usage */
}

.card.bg-disk {
    background-color: var(--color-disk); /* Gray for disk usage */
}

.card.bg-uptime {
    background-color: var(--color-uptime); /* Cyan for uptime */
}

.card.bg-network {
    background-color: var(--color-network); /* Bright blue for network */
}

.card.bg-speedtest {
    background-color: var(--color-speedtest); /* Bright blue for speedtest */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center-aligns the content */
}

.card-title {
    font-size: 1.25rem; /* Adjusts font size for titles */
}

.card-text {
    font-size: 1.5rem; /* Adjusts font size for text */
}

/* Battery Card Styles */
.battery-card {
    background: linear-gradient(135deg, #ffffff, #e0e0e0);
    border-radius: 10px;
    border: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    color: #fff;
}

.battery-card[data-battery="100"] {
    background: linear-gradient(135deg, #76c7c0, #4caf50);
}

.battery-card[data-battery="75"] {
    background: linear-gradient(135deg, #76c7c0, #ffeb3b);
}

.battery-card[data-battery="50"] {
    background: linear-gradient(135deg, #fbc02d, #ff9800);
}

.battery-card[data-battery="25"] {
    background: linear-gradient(135deg, #ff7043, #f44336);
}

.battery-card[data-battery="0"] {
    background: linear-gradient(135deg, #f44336, #d32f2f);
    color: #fff;
}

/* The hover effect still applies */
.battery-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* Card containing CPU core visualization */
.card.bg-cpu {
    position: relative;
}

.cpu-core-visualization {
    display: flex;
    gap: 0.5rem; /* Space between bars */
    margin-top: 1rem;
    justify-content: center; /* Center-align bars */
}


/* Individual bar representing a CPU core */
.cpu-core-bar {
    width: 10px; /* Width of each bar */
    height: 10px; /* Height of each bar */
    background-color: #ffffff; /* Bar color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Card Red Bottom Effect */
.card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; /* Height of the red effect */
    border-radius: 0 0 10px 10px; /* Match the card's border radius */
    z-index: 1; /* Ensure it's on top of the card content */
}

.cpu-core-bar:hover {
    background-color: var(--color-cpu); /* Red color on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* Slightly larger shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    filter: brightness(1.2); /* Brighten the bar */

}

/* General Card Hover Effect */
.card:hover {
    transform: translateY(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Specific Background Colors with Hover Effects */

/* User-related info */
.card.bg-username:hover {
    transform: translateX(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-username);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Boot time */
.card.bg-boot:hover {
    transform: translateZ(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-boot);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Memory Use */
.card.bg-dashboard-memory:hover {
    transform: translateY(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-bg-dashboard-memory);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Network info */
.card.bg-connection:hover {
    transform: translateX(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-connection);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* CPU-related info */
.card.bg-cpu:hover {
    transform: translateX(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-cpu);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Battery Card Styles */
.battery-card:hover {
    transform: translateY(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* CPU usage */
.card.bg-cpu-usage:hover {
    transform: translateX(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-cpu-usage);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Memory usage */
.card.bg-memory:hover {
    transform: translateZ(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-memory);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Disk usage */
.card.bg-disk:hover {
    transform: translateY(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-disk);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Uptime */
.card.bg-uptime:hover {
    transform: translateX(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-uptime);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Network statistics */
.card.bg-network:hover {
    transform: translateY(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-network);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Speedtest */
.card.bg-speedtest:hover {
    transform: translateZ(-10px); /* Slight lift effect */
    box-shadow: 0 10px 20px var(--color-speedtest);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.title {
    font-size: 2rem; /* Adjust the title size */
    font-weight: bold; /* Adjust as needed */
}

.version {
    font-size: 0.65rem; /* Smaller font size for version */
    color: #6c757d; /* Optional: Adjust color */
    margin-top: 0.25rem; /* Space between title and version */
}

.site-home {
    padding-left: 1rem; /* Add padding to the left */
}