{% if card_settings.is_speedtest_enabled %}
<div class="col-md-12 mb-4">
    <div class="card bg-speedtest">
        <div class="card-body">
            <h5 class="card-title">Perform Speed Test <i class="fas fa-clock"></i></h5>{% if not speedtest_result["show_prompt"] %} <p
                class="card-text fs-4">Download Speed:{{ speedtest_result["download_speed"]}}</p>
            <p class="card-text fs-4">Upload Speed:{{ speedtest_result["upload_speed"]}}</p>
            <p class="card-text fs-4">Test Last Performed:{{ last_timestamp}}</p>
            <p class="card-text fs-4">Try again test in :{{ speedtest_result["remaining_time_for_next_test"] }} mins</p>{% endif %} 
            {% if speedtest_result["show_prompt"] %} <a
                href="{{ url_for('speedtest')}}" class="btn btn-light">Run Speed Test</a>{% endif %}
        </div>
    </div>
</div>
{% endif %}