{% if card_settings.is_system_uptime_card_enabled %}
    <div class="card uptime-card bg-uptime shadow-sm border-0 rounded-3">
        <div class="card-body text-center">
            <h5 class="card-title">System Uptime <i class="fas fa-clock"></i></h5>
            <p class="card-text fs-4" id="system-uptime">
                {{ system_info['uptime_days'] }} days, {{ system_info['uptime_hours'] }} hours, 
                {{ system_info['uptime_minutes'] }} minutes, {{ system_info['uptime_seconds'] }} seconds
            </p>
        </div>
    </div>
{% endif %}
