{% if card_settings.is_user_card_enabled %}
    <div class="card user-card shadow-sm border-0 rounded-3 bg-dark text-light">
        <div class="card-body text-center p-4">
            <!-- Card Title -->
            <h5 class="card-title">
                {{ system_info['system_username'] }}@{{ system_info['nodename'] }}
            </h5>

            <!-- User Info -->
            <div class="d-flex justify-content-center align-items-center mt-3">
                <p class="card-text fs-5 fw-bold mb-0">
                    {{ system_info['system_username'] }} 
                    <span class="text-muted">@{{ system_ip_address }}</span>
                </p>
            </div>
        </div>
    </div>
{% endif %}
