{% extends 'base/base.html' %}
{% block title %}Update Email & Password{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/smtp_config.css') }}">
{% endblock %}
{% block content %}
<div class="update-container">
    <h2>SMTP Email Configuration</h2>
    {% include 'ext/message.html' %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="username" id="username" name="username" value="{{ smtp_config.username }}" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="smtp_server">SMTP Server:</label>
            <input type="text" id="smtp_server" name="smtp_server" value="{{ smtp_config.smtp_server }}" required>
        </div>
        <div class="form-group">
            <label for="smtp_port">SMTP Port:</label>
            <input type="number" id="smtp_port" name="smtp_port" value="{{ smtp_config.smtp_port }}" required>
        </div>
        <div class="form-group">
            <label for="email_from">Email From:</label>
            <input type="email" id="email_from" name="email_from" value="{{ smtp_config.email_from }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
