{% extends 'base/base.html' %}
{% block title %}SystemGuard Targets{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/targets.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>SystemGuard Targets</h1>
        {% include 'ext/message.html' %}

        <div class="table-wrapper">
            <table class="modern-table">
                <thead>
                    <tr>
                        <th>Group Name <i class="fas fa-info-circle" title="Job Name is the name of the service that is being monitored."></i></th>
                        <th>Targets <i class="fas fa-info-circle" title="Targets are the IP addresses of the services that are being monitored."></i></th>
                        <th>Scrape Interval <i class="fas fa-info-circle" title="Scrape Interval is the time interval between each scrape of the target."></i></th>
                        <th>New Interval<i class="fas fa-info-circle" title="Change the scrape interval of the target."></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for info in targets_info %}
                    <tr>
                        <td>{{ info.job_name }}</td>
                        <td>
                            <ul class="target-list">
                                {% for target in info.targets %}
                                <li>
                                    {{ target }}
                                    <form action="{{ url_for('remove_target') }}" method="post" class="inline-form">
                                        <input type="hidden" name="job_name" value="{{ info.job_name }}">
                                        <input type="hidden" name="target_to_remove" value="{{ target }}">
                                        <button type="submit" class="btn-danger">
                                            <i class="fas fa-times"></i> Remove
                                        </button>
                                    </form>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ info.scrape_interval }}</td>
                        <td>
                            <form action="{{ url_for('change_interval') }}" method="post" class="inline-form">
                                <input type="hidden" name="job_name" value="{{ info.job_name }}">
                                <input type="text" name="new_interval" placeholder="New Interval" required class="input-field">
                                <input type="submit" value="Change Interval" class="btn-primary">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="section">
            <h2>Restart Prometheus Docker Service</h2>
            <form action="{{ url_for('restart_prometheus') }}">
                <input type="submit" value="Restart Prometheus" class="btn-warning">
            </form>
        </div>

        <div class="section">
            <h2>Add New Target</h2>
            <form action="{{ url_for('add_target') }}" method="post" class="add-target-form">
                <input type="text" name="job_name" placeholder="Group Name" required class="input-field">
                <input type="text" name="new_target" placeholder="New Target" required class="input-field">
                <input type="text" name="scrape_interval" placeholder="Scrape Interval" required class="input-field">
                <br>
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="fas fa-plus"></i> Add Target
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/targets.js') }}"></script>
{% endblock %}
