{% extends 'base/base.html' %}
{% block title %}Update Email & Password{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/terminal.css') }}">
{% endblock %}
{% block content %}
    <div id="terminal"></div>
    <form id="terminal-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" id="command" placeholder="Enter command" autocomplete="off" autofocus>
    </form>


{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/terminal.js') }}"></script>
{% endblock %}