{% extends 'base.html' %}

{% block title %}Disk Usage Details{% endblock %}

{% block content %}
    <h2 class="my-4">Disk Usage Details</h2>
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-disk shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Disk Usage <i class="fas fa-hdd"></i></h5>
                    <p class="card-text fs-4">{{ disk_info['disk_usage'] }}%</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-disk shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Disk Total <i class="fas fa-hdd"></i></h5>
                    <p class="card-text fs-4">{{ disk_info['disk_total'] }} GB</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-disk shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Disk Used <i class="fas fa-hdd"></i></h5>
                    <p class="card-text fs-4">{{ disk_info['disk_used'] }} GB</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-disk shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Disk Free <i class="fas fa-hdd"></i></h5>
                    <p class="card-text fs-4">{{ disk_info['disk_free'] }} GB</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
