{% extends 'base.html' %}

{% block title %}Network Statistics{% endblock %}

{% block content %}
    <h2 class="my-4">Network Statistics</h2>
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Network Sent <i class="fas fa-upload"></i></h5>
                    <p class="card-text fs-4">{{ network_info['network_sent'] }} MB</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Network Received <i class="fas fa-download"></i></h5>
                    <p class="card-text fs-4">{{ network_info['network_received'] }} MB</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
