{% extends 'base.html' %}

{% block title %}CPU Usage Details{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}
{% block content %}
<h1>Settings</h1>
<form method="POST">
    {% include 'ext/message.html' %}

    <div class="form-group">
        <label for="speedtest_cooldown">Speedtest Cooldown (minutes):</label>
        <input type="number" id="speedtest_cooldown" name="speedtest_cooldown" value="{{ settings.speedtest_cooldown }}"
            min="1" required>
    </div>
    <div class="form-group">
        <label for="number_of_speedtests">Number of Speedtests Allowed per Hour:</label>
        <input type="number" id="number_of_speedtests" name="number_of_speedtests"
            value="{{ settings.number_of_speedtests }}" min="1" required>
    </div>
    <div class="form-group">
        <label for="timezone">Timezone:</label>
        <select id="timezone" name="timezone">
            <option value="Asia/Kolkata" {% if settings.timezone=="Asia/Kolkata" %}selected{% endif %}>Asia/Kolkata
            </option>
            <option value="America/New_York" {% if settings.timezone=="America/New_York" %}selected{% endif %}>
                America/New_York</option>
            <option value="Europe/London" {% if settings.timezone=="Europe/London" %}selected{% endif %}>Europe/London
            </option>
            <!-- Add more timezones as needed -->
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save Settings</button>
</form>
{% endblock %}