{% extends 'base.html' %}

{% block title %}System Health Overview{% endblock %}

{% block content %}
    <h2 class="my-4">System Health Overview</h2>
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-basic shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">CPU Usage <i class="fas fa-microchip"></i></h5>
                    <p class="card-text fs-4">{{ system_info['cpu_percent'] }}%</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-basic shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Memory Usage <i class="fas fa-memory"></i></h5>
                    <p class="card-text fs-4">{{ system_info['memory_percent'] }}%</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-basic shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Disk Usage <i class="fas fa-hdd"></i></h5>
                    <p class="card-text fs-4">{{ system_info['disk_usage'] }}%</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-basic shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Battery Percentage <i class="fas fa-battery-three-quarters"></i></h5>
                    <p class="card-text fs-4">{{ system_info['battery_percent'] }}%</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-basic shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h5 class="card-title">System Uptime <i class="fas fa-clock"></i></h5>
                    <p class="card-text fs-4">{{ system_info['uptime'] }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
