{% if card_settings.is_dashboard_memory_card_enabled %}
<div class="col-md-6 col-lg-4 mb-4">
    <div class="card bg-dashboard-memory">
        <div class="card-body">
            <h5 class="card-title">Memory Usages(Dashboard) <i class="fas fa-memory"></i></h5>
            <p class="card-text fs-4">{{ system_info['dashboard_memory_usage']}} MB</p>
        </div>
    </div>
</div>
<!-- <script>
    function refreshData() {
        refreshCardData('api/system-info', '.bg-dashboard-memory', 'dashboard_memory_usage'); // CPU Usage
    }
    setInterval(refreshData, {{ user_dashboard_settings.refresh_interval * 1000}});
</script> -->
{% endif %}