{% extends 'base/base.html' %}
{% block title %}Add New Dashboard Network{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_server.css') }}">

{% endblock %}
{% block content %}
<div class="container">
    <h1>Add New Server</h1>
    <form method="POST" action="{{ url_for('add_server') }}">
        <div class="form-group">
            <label for="name">Server Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="type_selection">What do you have?</label>
            <select id="type_selection" name="type_selection" onchange="toggleFields()">
                <option value="ip">IP Address and Port</option>
                <option value="link">URL</option>
            </select>
        </div>
        <div id="ip_group" class="form-group">
            <label for="ip_address">IP Address</label>
            <input type="text" id="ip_address" name="ip_address">
        </div>
        <div id="port_group" class="form-group">
            <label for="port">Port</label>
            <input type="number" id="port" name="port">
        </div>
        <div id="link_group" class="form-group">
            <label for="link">URL</label>
            <input type="text" id="link" name="link">
        </div>
        <button type="submit">Add Server</button>
    </form>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/port_url_toggle.js') }}"></script>
{% endblock %}