{% extends 'base/base.html' %}
{% block title %}Prometheus Active Targets{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_network.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>SystemGuard Active Targets</h1>
    {% include 'ext/message.html' %}
    <table>
        <thead>
            <tr>
                <th>Job</th>
                <th>Instance</th>
                <th>Health</th>
                <th>Last Scrape</th>
                <th>Last Error</th>
                <th>Scrape URL</th>
                <th>Scrape Duration (s)</th>
                <th>Scrape Interval</th>
                <th>Go to Dashboard</th>
                <th>Remove Target</th>
            </tr>
        </thead>
        <tbody id="target-table-body">
            <!-- Data will be populated here -->
        </tbody>
    </table>
</div>


<div class="text-center">
    <h2>Restart Prometheus Docker Service</h2>
    <form action="{{ url_for('restart_prometheus') }}">
        <input type="submit" value="Restart Prometheus">
    </form>
</div>

<div class="text-center">
    <h2>Add New Target</h2>
    <form action="{{ url_for('add_target') }}" method="post">
        <input type="text" name="job_name" placeholder="Job Name" required>
        <input type="text" name="new_target" placeholder="New Instance" required>
        <input type="text" name="scrape_interval" placeholder="Scrape Interval" required>
        <input type="submit" value="Add Target">
    </form>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/targets.js') }}"></script>
{% endblock %}