{% extends 'base/base.html' %}
{% block title %}Prometheus Active Targets{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_network.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>SystemGuard Active Targets</h1>
    {% include 'ext/message.html' %}
    <table>
        <thead>
            <tr>
                <th>Group</th>
                <th>Instance</th>
                <th>Health</th>
                <th>Last Scrape</th>
                <th>Last Error</th>
                <th>Scrape URL</th>
                <th>Scrape Duration (s)</th>
                <th>Scrape Interval</th>
                <th>Go to Dashboard</th>
            </tr>
        </thead>
        <tbody id="target-table-body">
            <!-- Data will be populated here -->
        </tbody>
    </table>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/targets.js') }}"></script>
{% endblock %}