{% extends 'base/base.html' %}
{% block title %}Edit Server{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_server.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Edit Server</h1>
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ server.name }}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" value="{{ server.description }}">
        </div>
        <div class="mb-3">
            <label for="type_selection" class="form-label">Server Type</label>
            <select class="form-control" id="type_selection" name="type_selection" onchange="toggleFields()" required>
                <option value="ip" {% if server.ip_address %}selected{% endif %}>IP Address:Port</option>
                <option value="link" {% if server.link %}selected{% endif %}>URL</option>
            </select>
        </div>
        <div id="link_group" style="display: {% if server.link %}block{% else %}none{% endif %};">
            <div class="mb-3">
                <label for="link" class="form-label">URL</label>
                <input type="text" class="form-control" id="link" name="link" value="{{ server.link }}">
            </div>
        </div>
        <div id="ip_group" style="display: {% if server.ip_address %}block{% else %}none{% endif %};">
            <div class="mb-3">
                <label for="ip_address" class="form-label">IP Address</label>
                <input type="text" class="form-control" id="ip_address" name="ip_address" value="{{ server.ip_address }}">
            </div>
        </div>
        <div id="port_group" style="display: {% if server.port %}block{% else %}none{% endif %};">
            <div class="mb-3">
                <label for="port" class="form-label">Port</label>
                <input type="number" class="form-control" id="port" name="port" value="{{ server.port }}">
            </div>
        </div>
        
        <button type="submit" class="btn btn-success">Update Server</button>
    </form>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/port_url_toggle.js') }}"></script>
{% endblock %}